In [1]:
import pandas as pd

from pycaret.classification import *
from sklearn.preprocessing import *

In [2]:
df1=pd.read_csv('./training set values.csv', sep=',')

In [3]:
df1.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [4]:
df_target = pd.read_csv('training set labels.csv')

In [5]:
df2 = pd.merge(df1, df_target)
df2.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

In [6]:
variables_categoricas = [
    'funder',
    'installer',
    'wpt_name',
    'basin',
    'subvillage',
    'region',
    'lga',
    'ward',
    'public_meeting',
    'recorded_by',
    'scheme_management',
    'scheme_name',
    'permit',
    'extraction_type',
    'extraction_type_group',
    'extraction_type_class',
    'management',
    'management_group',
    'payment',
    'payment_type',
    'water_quality',
    'quality_group',
    'quantity',
    'quantity_group',
    'source',
    'source_type',
    'source_class',
    'waterpoint_type',
    'waterpoint_type_group'
]

In [7]:
df3 = df2
le = LabelEncoder()
for variable in variables_categoricas:
    df3[variable] = le.fit_transform(df3[variable])

In [8]:
df1.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [9]:
pd.set_option('display.max_columns', None)
df3.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,1368,1390,1518,34.938093,-9.856322,37398,0,1,11807,3,11,5,51,1426,109,1,0,6,2244,0,1999,3,1,0,7,4,2,0,6,2,1,1,8,6,0,1,1,functional
1,8776,0.0,2013-03-06,469,1399,545,34.698766,-2.147466,37194,0,4,15838,9,20,2,103,1576,280,2,0,1,2695,1,2010,3,1,0,11,4,0,2,6,2,2,2,5,3,1,1,1,functional
2,34310,25.0,2013-02-25,825,686,2048,37.460664,-3.821329,14572,0,5,9074,8,21,4,108,1624,250,1,0,6,2120,1,2009,3,1,0,7,4,4,5,6,2,1,1,0,1,1,2,1,functional
3,67743,0.0,2013-01-28,1740,263,1852,38.486161,-11.155298,37284,0,7,8982,12,90,63,87,1571,58,1,0,6,2695,1,1986,14,10,5,7,4,0,2,6,2,0,0,3,0,0,2,1,non functional
4,19728,0.0,2011-07-13,20,0,119,31.130847,-1.825359,35528,0,4,7698,4,18,1,26,1687,0,1,0,11,2695,1,0,3,1,0,1,1,0,2,6,2,3,3,5,3,1,1,1,functional

In [10]:
model_setup = setup(data=df3, 
                    target = 'status_group', 
                    session_id=1, 
                    )

In [11]:
if 1:
    best_model = compare_models()

In [31]:
df_target = pd.read_csv('./test set values.csv', sep=',')

In [32]:
df_target_enlabeled = df_target.copy()
le = LabelEncoder()
for variable in variables_categoricas:
    df_target_enlabeled[variable] = le.fit_transform(df_target_enlabeled[variable])

In [33]:
predictions = predict_model(best_model, data=df_target_enlabeled)

In [34]:
predictions

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,prediction_label,prediction_score
0,50785,0.0,2013-02-04,175,1996,214,35.290798,-4.059696,656,0,...,2,3,3,5,3,1,6,5,non functional,0.47
1,51630,0.0,2013-02-04,250,1569,221,36.656708,-3.309214,1780,0,...,2,2,2,8,6,0,1,1,functional,0.60
2,17168,0.0,2013-02-01,979,1567,1091,34.767864,-5.004344,9673,0,...,2,2,2,5,3,1,6,5,non functional,0.45
3,45559,0.0,2013-01-22,222,267,262,38.058044,-9.418673,5595,0,...,2,0,0,7,5,0,6,5,non functional,1.00
4,49871,500.0,2013-03-27,73,1260,75,35.006123,-10.950412,5706,0,...,2,1,1,8,6,0,1,1,functional,0.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14845,39307,0.0,2011-02-24,145,34,226,38.852669,-6.582841,7223,0,...,2,1,1,6,4,1,1,1,non functional,0.76
14846,18990,1000.0,2011-03-21,286,0,319,37.451633,-5.350428,332,0,...,4,2,2,7,5,0,4,3,functional,0.76
14847,28749,0.0,2013-03-04,979,1476,1091,34.739803,-4.585587,457,0,...,2,2,2,0,1,1,1,1,functional,0.72
14848,33492,0.0,2013-02-18,242,998,221,35.432732,-10.584159,3438,0,...,2,2,2,6,4,1,1,1,functional,0.83
14849,68707,0.0,2013-02-13,250,481,304,34.765053,-11.226012,5054,0,...,2,0,0,8,6,0,1,1,non functional,0.99

In [37]:
df_result = predictions[['id', 'prediction_label']]

In [38]:
df_result

          id prediction_label
0      50785   non functional
1      51630       functional
2      17168   non functional
3      45559   non functional
4      49871       functional
...      ...              ...
14845  39307   non functional
14846  18990       functional
14847  28749       functional
14848  33492       functional
14849  68707   non functional

[14850 rows x 2 columns]

In [41]:
# Renombramos la columna
df_result.rename(columns={'prediction_label': 'status_group'}, inplace=True)
df_result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14850 entries, 0 to 14849
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            14850 non-null  int32
 1   status_group  14850 non-null  object
dtypes: int32(1), object(1)
memory usage: 174.2+ KB

In [ ]:
df_result.set_index('id', inplace=True)

In [42]:
df_result.to_csv("./resultados/V0_pycaret.csv")